.navbar {
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
}

.navbar__title {
  font-size: 2rem;
  font-weight: normal;
}

.navbar__links {
  font-size: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
}
