<mat-form-field appearance="fill" >
  <mat-label>Select an option</mat-label>
  <mat-select
    [(value)]="selectedOption"
    (selectionChange)="onSelectionChange()"
  >
    <mat-option *ngFor="let option of SORT_OPTIONS; trackBy: trackSort" [value]="option.value">{{
      option.text
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select an direction</mat-label>
  <mat-select
    [(value)]="selectedDirection"
    (selectionChange)="onSelectionChange()"
    [disabled]="!selectedOption"
  >
    <mat-option
      *ngFor="let direction of SORT_DIRECTIONS"
      [value]="direction.value"
      >{{ direction.text }}</mat-option
    >
  </mat-select>
</mat-form-field>
