@import url("../../global/index.css");

.anime-detail {
  display: flex;
}

.anime-detail__content,
.anime-detail__media {
  padding: 30px;
}

.anime-detail__image {
  max-width: 300px;
}

.anime-detail__content p {
  margin: 0;
}
