.anime-detail {
  text-align: center;
  flex: 1;
  position: relative;
  max-width: var(--anime-detail-width);
}

.loader {
  width: var(--anime-detail-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime-detail__card {
  display: flex;
}

.card-media {
  display: flex;
  flex-direction: column;
}

.image,
.trailer-button {
  width: 250px;
}
