.anime-detail {
  text-align: center;
  flex: 1;
  position: relative;
  max-width: var(--anime-detail-width);
}

.loader {
  width: var(--anime-detail-width);
  display: flex;
  justify-content: center;
  align-items: center;
}