@import url("../global/index.css");

.title {
  color: var(--heading-color-1);
}

.anime-image {
  width: 150px;
  height: 150px;
}

#pagination-wrapper {
  display: inline-block;
}

/*
.data {
  height: 100px;
  width: 100%;
} */
