:root {
  --primary-color: #f97316;
  --primary-contrast-color: white;
  --primary-dark-color: #ea580c;
  --primary-dark-contrast-color: white;
  --primary-light-color: #fb923c;
  --primary-light-contrast-color: black;
  --primary-text-color: white;
  --primary-dark-text-color: black;
  --background-color: white;
  --background-contrast-color: black;
  --error-color: red;
  --primary-border-color: #333;
}