:root {
  --primary-color: #f97316;
  --primary-contrast-color: white;
  --primary-dark-color: #ea580c;
  --primary-dark-contrast-color: white;
  --primary-light-color: #fb923c;
  --primary-light-contrast-color: black;
  --primary-text-color: white;
  --primary-dark-text-color: black;
  --background-color: white;
  --background-contrast-color: black;
  --background-light-contrast-color: rgb(0 0 0 / 20%);
  --box-shadow: rgb(0 0 0 / 50%);
  --error-color: red;

  /* 64px is the height of the navbar */
  --anime-page-height: calc(100vh - 64px);
  --anime-list-width: 360px;
  --anime-detail-width: calc(100vw - var(--anime-list-width));
  --image-width-base: 250px;
  --image-width-medium: 400px;
}
