<div class="anime-detail">
  <mat-card *ngIf="(anime$ | async) as anime; else Loading">
    <mat-card-header>
      <mat-card-title class="anime-detail__title">{{
        anime.englishTitle || anime.japaneseTitle
      }}</mat-card-title>
      <mat-card-subtitle *ngIf="anime.englishTitle">{{
        anime.japaneseTitle
      }}</mat-card-subtitle>
    </mat-card-header>
    <div class="anime-detail__content">
      <div class="anime-detail__media">
        <img
          [src]="anime.image"
          [alt]="(anime.englishTitle || anime.japaneseTitle) + ' image'"
          class="anime-detail__image"
          (click)="onImageClick(anime.image)"
        />
        <button
          *ngIf="anime.youtubeTrailerId"
          type="button"
          mat-raised-button
          color="primary"
          class="anime-detail__trailer-button"
          (click)="onTrailerButtonClick(anime.youtubeTrailerId)"
        >
          Trailer
        </button>
      </div>
      <mat-card-content>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Type:</p>
          <span>{{ anime.type }}</span>
        </div>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Status:</p>
          <span>{{ anime.status }}</span>
        </div>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Airing:</p>
          <span>{{ anime.airing ? "Yes" : "No" }}</span>
        </div>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Aired time:</p>
          <span
            >{{ (anime.aired.start | date: "dd/MM/yyyy") ?? "" }} -
            {{ (anime.aired.end | date: "dd/MM/yyyy") ?? "" }}</span
          >
        </div>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Synopsis:</p>
          <p>{{ anime.synopsis }}</p>
        </div>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Genres:</p>
          <mat-chip-list
            aria-label="List of genre"
            class="anime-detail__genres"
          >
            <mat-chip *ngFor="let genre of anime.genreList; trackBy: trackById">{{
              genre.name
            }}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="anime-detail__field">
          <p class="anime-detail__field-title">Studios:</p>
          <mat-chip-list
            aria-label="List of studio"
            class="anime-detail__studios"
          >
            <mat-chip *ngFor="let studio of anime.studioList; trackBy: trackById"
              >{{ studio.name }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<camp-modal
  *ngIf="(mediaTrailerUrl$ | async) || (mediaImageUrl$ | async)"
  (closeModal)="closeModal()"
>
  <iframe
    *ngIf="mediaTrailerUrl$ | async as trailer"
    [src]="trailer"
    title="Trailer"
    frameborder="0"
    allowfullscreen
    class="modal__content anime-trailer"
  >
  </iframe>
  <img
    *ngIf="mediaImageUrl$ | async as image"
    [src]="image"
    alt="Anime Image"
    class="modal__content"
  />
</camp-modal>
<ng-template #Loading>
  <camp-spinner></camp-spinner>
</ng-template>
