.anime-detail__container {
  max-width: 70%;
  margin: auto;
}

.anime-detail__title {
  font-size: 24px;
}

.anime-detail__content {
  display: flex;
}

.anime-detail__media {
  padding-right: 40px;
}

.anime-detail__image {
  max-width: 300px;
  cursor: zoom-in;
}

.anime-detail__field-title {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 10px;
}

.anime-detail__genres,
.anime-detail__studios {
  margin: 0;
}

.trailer__button {
  width: 100%;
}

.modal__content {
  position: absolute;
  height: 60%;
  top: 10%;
}

.anime-trailer {
  width: 60%;
}
