<form [formGroup]="animeForm">
  {{ animeForm.value | json }}
</form>
<mat-card>
  <mat-card-title>{{ type === "edit" ? "Edit" : "Add" }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="animeForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="anime-form__field">
        <mat-label>Image</mat-label>
        <input
          type="text"
          matInput
          placeholder="Link"
          formControlName="image"
        />
      </mat-form-field>
      <mat-form-field class="anime-form__field">
        <mat-label>Trailer ID</mat-label>
        <input
          type="text"
          matInput
          placeholder="3ks8as"
          formControlName="youtubeTrailerId"
        />
      </mat-form-field>
      <mat-form-field class="anime-form__field">
        <mat-label>English Title</mat-label>
        <input
          type="text"
          matInput
          placeholder="Naruto"
          formControlName="englishTitle"
        />
      </mat-form-field>
      <mat-form-field class="anime-form__field">
        <mat-label>Japanese Title</mat-label>
        <input
          type="text"
          matInput
          placeholder="劇場版 空の境界"
          formControlName="japaneseTitle"
        />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="anime-form__field"
        color="accent"
      >
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of animeTypeList" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="anime-form__field" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of animeStatusList" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="anime-form__field" appearance="fill">
        <mat-label>Source</mat-label>
        <mat-select formControlName="source">
          <mat-option *ngFor="let source of animeSourceList" [value]="source">{{
            source
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle formControlName="airing"> Is Airing </mat-slide-toggle>
      <mat-form-field class="anime-form__field">
        <mat-label>Aired Time</mat-label>
        <mat-date-range-input [rangePicker]="picker" formGroupName="aired">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="anime-form__field" appearance="fill">
        <mat-label>Rating</mat-label>
        <mat-select formControlName="rating">
          <mat-option *ngFor="let rating of animeRatingList" [value]="rating">{{
            rating
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="anime-form__field" appearance="fill">
        <mat-label>Season</mat-label>
        <mat-select formControlName="season">
          <mat-option *ngFor="let season of animeSeasonList" [value]="season">{{
            season
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="anime-form__field">
        <mat-label>Synopsis</mat-label>
        <textarea
          matInput
          placeholder="Naruto"
          formControlName="synopsis"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="anime-form__field" appearance="fill">
        <mat-label>Studio</mat-label>
        <mat-chip-list #studioChipList aria-label="Studio selection">
          <mat-chip
            *ngFor="let studio of selectedStudios$ | async"
            (removed)="onStudioRemove(studio.id)"
          >
            {{ studio.name }}
            <button type="button" matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Add studio..."
            #studioInput
            [matAutocomplete]="studioAuto"
            [matChipInputFor]="studioChipList"
          />
        </mat-chip-list>
        <mat-autocomplete
          #studioAuto="matAutocomplete"
          (optionSelected)="onStudioSelected($event)"
        >
          <mat-option
            *ngFor="let studio of studios$ | async"
            [value]="studio.id"
          >
            {{ studio.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>



        <mat-form-field class="anime-form__field" appearance="fill">
          <mat-label>Genres</mat-label>
          <mat-chip-list #genreChipList aria-label="Genre selection">
            <mat-chip
              *ngFor="let genre of selectedGenres$ | async"
              (removed)="onGenreRemove(genre.id)"
            >
              {{ genre.name }}
              <button type="button" matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="Add genre..."
              #genreInput
              [formControl]="genresControl"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matAutocomplete]="genreAuto"
              [matChipInputFor]="genreChipList"
            />
          </mat-chip-list>
          <mat-autocomplete
            #genreAuto="matAutocomplete"
            (optionSelected)="onGenreSelected($event)"
          >
            <mat-option *ngFor="let genre of filteredGenres$ | async" [value]="genre">
              {{ genre.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>



      <div class="submit">
        <button
          *ngIf="type === 'edit'"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="animeForm.invalid"
        >
          Save
        </button>
        <button
          *ngIf="type === 'create'"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="animeForm.invalid"
        >
          Create
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<ng-template #Loading>
  <camp-spinner></camp-spinner>
</ng-template>
