@import url("./variables.css");
@import url("./index.css");

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.default-layout {
  margin: 80px auto 0;
  max-width: var(--default-layout-width);
}

.title {
  color: var(--heading-color-1);
}

.btn_right {
  float: right;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logout-btn {
  height: 100%;
  background-color: transparent;
  border: none;
  color: var(--primary-text-contrast-color);
  cursor: pointer;
  transition: all 0.5s;
  padding: 0 20px;
}

.logout-btn:hover {
  background-color: var(--secondary-background-color);
}

.input-error {
  display: block;
  font-size: 14px;
  color: var(--error-text-color);
}
