.default-layout {
  margin: 60px auto 0;
  max-width: var(--default-layout-width);
}

.title {
  color: var(--heading-color-1);
}

.card__content {
  padding-top: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  height: 100%;
  background-color: transparent;
  border: none;
  color: var(--primary-text-contrast-color);
  cursor: pointer;
  transition: all 0.5s;
  padding: 0 20px;
}

.logout-btn:hover {
  background-color: var(--secondary-background-color);
}

.input-error {
  display: block;
  font-size: 14px;
  color: var(--error-text-color);
}
