<mat-form-field appearance="outline" class="search__form-field" color="accent">
  <mat-label>Search here</mat-label>
  <input
    matInput
    type="text"
    class="search__input"
    [formControl]="searchControl"
  />
</mat-form-field>
<mat-form-field appearance="fill" class="type__form-field" color="accent">
  <mat-label>Type</mat-label>
  <mat-select [formControl]="filterTypeControl" multiple>
    <mat-option *ngFor="let type of animeTypeList" [value]="type">{{
      type
    }}</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="animeList$ | async as animeList" class="anime-table__container">
  <table
    [dataSource]="animeList"
    mat-table
    matSort
    (matSortChange)="handleSortChange($event)"
    [matSortActive]="(sortObservers$ | async)!.active"
    [matSortDirection]="(sortObservers$ | async)!.direction"
    [trackBy]="trackAnimeById"
    class="mat-elevation-z8 anime-table"
    aria-label="anime"
    aria-describedby="anime-table"
    fixedLayout
  >
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let anime">
        <img
          [src]="anime.image"
          alt="{{ anime.englishTitle }} Image"
          class="anime-image"
        />
      </td>
    </ng-container>
    <!-- English Title Column -->
    <ng-container matColumnDef="titleEng">
      <!-- TODO: Maybe rename mat-sort=header. NOT USE DIRECTLY BACKEND VALUE. Maybe implement mappers -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header="title_eng">
        English Title
      </th>
      <td mat-cell *matCellDef="let anime">{{ anime.englishTitle }}</td>
    </ng-container>
    <!-- Japanese Title Column -->
    <ng-container matColumnDef="titleJpn">
      <th mat-header-cell *matHeaderCellDef>Japanese Title</th>
      <td mat-cell *matCellDef="let anime">{{ anime.japaneseTitle }}</td>
    </ng-container>
    <!-- Aired Start Column -->
    <ng-container matColumnDef="airedStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="aired__startswith">
        Aired Start
      </th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.aired.start | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
      <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <camp-paginator
    [length]="length"
    [pageIndex]="(currentPage$ | async)!"
    [pageSize]="pageSize"
    (paginatorChange)="handlePaginatorChange($event)"
    class="table__paginator"
  ></camp-paginator>
  <div class="loading__shade" *ngIf="isLoading$ | async"></div>
</div>
<div class="loading__spinner" *ngIf="isLoading$ | async">
  <mat-spinner color="accent"></mat-spinner>
</div>
