.anime-table {
  width: 100%;
}

.anime-table__container {
  position: relative;
}

.loading__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anime-image {
  max-width: 150px;
  max-height: 150px;
}

.search__form-field,
.type__form-field {
  display: block;
  max-width: 40%;
  padding-left: 20px;
}
