<mat-form-field class="search-form-field" appearance="fill">
  <mat-label>Search here</mat-label>
  <input matInput type="text"  class="search__input" [formControl]="searchControl">
</mat-form-field>
<mat-form-field class="filter-form-field" appearance="fill">
  <mat-label>Type</mat-label>
  <mat-select [formControl]="filterTypeControl" multiple>
    <mat-option *ngFor="let type of animeTypeList" [value]="type">{{type}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="anime-table__controller">
  <camp-paginator
    [length]="length"
    [pageIndex]="(currentPage$ | async)!"
    [pageSize]="pageSize"
    (paginatorChange)="handlePaginatorChange($event)"
  ></camp-paginator>
</div>
<div
  *ngIf="animeList$ | async as animeList"
  class="anime-table__container"
>
  <table
    *ngIf="(isLoading$|async) === false"
    [dataSource]="animeList"
    mat-table
    matSort
    (matSortChange)="handleSortChange($event)"
    [matSortActive]="(sortObservers$ | async)!.active"
    [matSortDirection]="(sortObservers$ | async)!.direction"
    class="mat-elevation-z8 anime-table"
    [trackBy]="trackAnimeById"
    aria-label="anime"
    aria-describedby="anime-table"
  >
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let anime">
        <img [src]="anime.image" alt="Anime image" class="anime-image" />
      </td>
    </ng-container>
    <!-- English Title Column -->
    <ng-container matColumnDef="titleEng">
      <!-- TODO: Maybe rename mat-sort=header. NOT USE DIRECTLY BACKEND VALUE. Maybe implement mappers -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header="title_eng">English Title</th>
      <td mat-cell *matCellDef="let anime">{{ anime.englishTitle }}</td>
    </ng-container>
    <!-- Japanese Title Column -->
    <ng-container matColumnDef="titleJpn">
      <th mat-header-cell *matHeaderCellDef>Japanese Title</th>
      <td mat-cell *matCellDef="let anime">{{ anime.japaneseTitle }}</td>
    </ng-container>
    <!-- Aired Start Column -->
    <ng-container matColumnDef="airedStart" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="aired__startswith">Aired Start</th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.aired.start | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
      <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="spinner" *ngIf="isLoading$|async">
    <mat-spinner color="accent"></mat-spinner>
</div>

