.anime-table {
  width: 100%;
  position: relative;
}

.anime-image {
  max-width: 150px;
  height: 150px;
}

.search,
.type {
  display: block;
  max-width: 40%;
  padding-left: 20px;
}

.add {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
