.anime-table {
  width: 100%;
}

.anime-table__controller {
  display: flex;
  justify-content: space-between;
}

.spinner {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anime-image {
  max-width: 150px;
  max-height: 150px;
}
