.anime-table {
  width: 100%;
}

.anime-table__container {
  position: relative;
}

.anime-image {
  max-width: 150px;
  height: 150px;
}

.search__form-field,
.type__form-field {
  display: block;
  max-width: 40%;
  padding-left: 20px;
}
